pre[class*="language-"]
{
    background: #FFF;
    white-space: pre-wrap;
    word-break: break-all;
    // font-size: 0.8rem;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

code[class*="language-"] {
    background : #FFF;
    white-space: pre-wrap;
    word-break : break-all;
    // font-size: small;
    font-family: monospace;
    margin     : 0;
    padding    : 0;
}